* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #697077;
  text-align: center;
  letter-spacing: 0.8px;
}

body {
  padding: 3.87rem 1.87rem 1.87rem 1.87rem;
  display: flex;
  flex-direction: column;
}

.sub-heading,
.main-heading {
  font-size: 1.125rem;
}

.sub-heading {
  font-weight: 200;
}

.heading-description {
  margin: 1.87rem 0;
  font-weight: 500;
}

b {
  font-weight: 600;
  color: #4c4e61;
}

p,
footer {
  font-size: 0.75rem;
}

.cards-container p,
.cards-container h1 {
  text-align: left;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 2.125rem 0;
}

.card h1 {
  font-size: 1rem;
  font-weight: 600;
  color: #4c4e61;
}

.card {
  box-shadow: 0px 6px 20px 0px #c2cad2;
  padding: 2.5rem 1.875rem 2.812rem 1.875rem;
  border-radius: 5px;
  width: 100%;
  max-width: 315px;
  height: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-top: auto;
}

.supervisor {
  border-top: 5px solid #45d3d3;
}

.team-builder {
  border-top: 5px solid #ea5353;
}

.karma {
  border-top: 5px solid #fcaf4a;
}

.calculator {
  border-top: 5px solid #549ef2;
}

a {
  color: #45d3d3;
}

.cards-container-mid {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

@media (min-width: 600px) {
  .sub-heading,
  .main-heading {
    font-size: 1.625rem;
  }

  .card {
    max-width: 350px;
  }

  .cards-container {
    width: auto;
    padding: 3rem;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(auto, 350px));
    grid-template-rows: repeat(2, 1fr);
    align-items: center; /* This is the "magic" that replaces your 140px */
    place-content: center;
  }

  .supervisor {
    grid-column: 1;
    height: auto;
    grid-row: 1 / span 2;
  }

  .karma {
    grid-column: 2;
  }

  .calculator {
    grid-column: 3;
    height: auto;
    grid-row: 1 / span 2;
  }
}
